*, *::before, *::after {
  box-sizing: border-box;
  font-family: cursive;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.imgur.com/0DJ1MUs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  color: #F2C545;
  width: 800px;
  max-width: 80%;
  background-color: #C73B0B;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  border: 3px solid #978E43;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: darkolivegreen;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: #350608;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: orange;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.linkedin {
  margin-top: 9px;
}

.github {
  margin-top: 9px;
}

.header {
  font-size: 50px;
}

.title {
  margin-top: 0px;
  margin-bottom: 134px;
}